@charset "UTF-8";

:root {
    --cor-principal: #03a89e;
    --cor-secundaria: #b6b0a3;
    --cor-terciaria: #7C947A;
    --cor-quartaria: #DBD5C6;
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--cor-quartaria);
}

/* CABEÇALHO */

header{
    background-color: var(--cor-principal);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100vw;
    height: 50px;
} 

header > img{
    height: 50px;
    border-radius: 20px 0px;
    width: 150px;
}

nav > span{
    cursor: pointer;
    color: white;
    padding-right: 10px;
}

nav > div#menu_mobile{
    position: fixed;
    width: 30vw;
    height: 100vh;
    top: 50px;
    left: -50vw;
    background-color: var(--cor-principal);
    transition: transform 0.5s ease;
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.315);
}

nav > div.ativar{
    transform: translateX(50vw);
    transition: transform 0.5s ease;
}

nav > div#menu_mobile > ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div#menu_mobile > ul > li{
    padding-top: 10px;
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}

div#menu_mobile > ul > li > a{
    color: white;
}

div#menu_mobile > ul > li:hover{
    font-weight: bold;
}

/* CONTEÚDO */

main{
    margin-top: 50px;
}

/* SEÇÃO 1 - SLOGAN */

section#slogan{
    margin-top: 10px;
    height: 500px;
}

section#slogan > div#foto{
    background-image: linear-gradient(to bottom, var(--cor-secundaria) 60%, rgba(255, 255, 255, 0.2));
    /* background-image: url(../imagens/fundo.png); */
    position: relative;
    z-index: 1;
    width: 100vw;
    height:500px;
}

div#foto > img{
    width: 55%;
    position: absolute;
    bottom: 0;
}

div#foto > div#texto1{
    position: absolute;
    color: white;
    top: 50px;
    right: 40px;
    font-size: 1.2em;
}

div#foto > p{
    position: absolute;
    font-size: 1.2em;
    color: white;
    top: 200px;
    right: 40px;
}

/* SEÇÃO 2 - SOBRE */

section#sobre{
    background-color: var(--cor-terciaria);
    height: 900px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
}

section#sobre > img{
    width: 350px;
    border-radius: 20px;
}

article#sobre > div.sobre_informacoes{
    margin: 20px;
    background-color: var(--cor-quartaria);
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

section#sobre > article#sobre > h2{
    text-align: center;
    font-size: 0.9em;
    padding-top: 10px;
    color: white;
}

section#sobre > a{
    text-align: center;
    background-color: var(--cor-quartaria);
    color: black;
    border: 2px solid black;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

section#sobre > a:hover{
    background-color: black;
    color: var(--cor-quartaria);
}
