@charset "UTF-8";

:root {
    --cor-principal: #006064;
    --cor-secundaria: #F0ECE3;
    --cor-terciaria: #FFFFFF;
    --cor-quartaria: #C8A97E;
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--cor-quartaria);
}

/* CABEÇALHO */

header{
    background-color: var(--cor-principal);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100vw;
    height: 80px;
} 

header > img{
    height: 80px;
    border-radius: 20px 0px;
    width: 200px;
}

nav > span{
    cursor: pointer;
    color: white;
    padding-right: 20px;
}

div#menu_mobile {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 150px;
    top: -80px;
    left: 0;
    border-radius: 0px 0px 20px 20px;

    background-color: var(--cor-principal);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

div#menu_mobile.ativar {
    transform: translateY(160px);
    opacity: 1;
    pointer-events: auto;
}

nav > div#menu_mobile > ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div#menu_mobile > ul > li{
    padding: 10px 0px 0px 10px;
    color: white;
    text-align: left;
}

div#menu_mobile > ul > li > a{
    color: white;
}

div#menu_mobile > ul > li:hover{
    font-weight: bold;
}

/* CONTEÚDO */

main{
    margin-top: 50px;
}

/* SEÇÃO 1 - SLOGAN */

section#slogan{
    height: 500px;
    width: 100vw;
}

section#slogan > img{
    width: 100%;
}

/* SEÇÃO 2 - SOBRE */

section#sobre{
    background-color: var(--cor-quartaria);
    height: 900px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
}

section#sobre > img{
    width: 350px;
    border-radius: 20px;
}

article#sobre > div.sobre_informacoes{
    margin: 20px;
    background-color: var(--cor-quartaria);
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

section#sobre > article#sobre > h2{
    text-align: center;
    font-size: 0.9em;
    padding-top: 10px;
    color: white;
}

section#sobre > a{
    text-align: center;
    background-color: var(--cor-quartaria);
    color: black;
    border: 2px solid black;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

section#sobre > a:hover{
    background-color: black;
    color: var(--cor-quartaria);
}
